/* css variables */
:root {
	/*-- colors --*/
	--color-primary: #03d8aa;
	--color-secondary: #adadad;

	--color-white: #fdfdfd;
	--color-black: #111111;
	--color-dimgrey: #1c1c1c;
	--color-grey: #272727;

	--color-blue: #4dbaf6;
	--color-lightblue: #6d8991;
	--color-bluegreyshade: #24232b;

	--color-success: #22bb33;
	--color-warning: #f0ad4e;
	--color-danger: #c2403e;

	/*-- fonts --*/
	--font-family-header: 'Poppins', sans-serif;
	--font-family-text: 'Lato', sans-serif;

	--font-size-10: 10px;
	--font-size-12: 12px;
	--font-size-14: 14px;
	--font-size-16: 16px;

	--font-weight-medium: 500;
	--font-weight-regular: 400;
	--font-weight-light: 300;
}

/* ------------------------ */
/* BASE RULES */
/* ------------------------ */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--color-black);
}

.app-wrapper {
	min-width: 100%;
	width: 100%;
	main.main-content {
		margin: 0px 30px;
	}
}

.container {
	width: 80%;
	margin: 0 auto;
}
