.profile {
	max-width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 2px solid var(--color-grey);
	padding: 0 20px;
	.profile-avatar {
		display: flex;
		align-items: center;
		height: 50px;

		.profile-avatar-image {
			height: 25px;
			width: 25px;
			border-radius: 50%;
		}
		.profile-avatar-name {
			margin-left: 6px;
			color: var(--color-secondary);
			font-family: var(--font-family-header);
			font-weight: var(--font-weight-light);
		}
	}
}
