.stream-delete-content {
	display: flex;
	width: 480px;
	align-items: center;
	color: var(--color-bluegreyshade);
	& > .image-wrap {
		width: 150px;
		height: 150px;

		img {
			height: 100%;
		}
	}
	& > .message {
		margin-left: 20px;
		h3 {
			margin-bottom: 0;
		}
		p {
			font-weight: 600;
			color: var(--color-danger);
		}
	}
}
