header {
	height: 50px;
	padding: 0 0 0 20px;
	background: var(--color-dimgrey);

	nav.navbar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		font-size: 14px;
		font-weight: var(--font-weight-light);
	}
	.nav-links {
		height: 100%;
		flex: 1;
		display: flex;
		justify-content: flex-end;
		margin: 0 20px;
		a.nav-link {
			display: flex;
			align-items: center;
			margin-bottom: -1px;
			color: var(--color-secondary);
			font-family: var(--font-family-header);
			font-weight: var(--font-weight-light);
			letter-spacing: 0;
			border-bottom: 2px solid transparent;
			transition: all 0.28s ease-in-out;
			&:not(:first-child) {
				margin-left: 16px;
			}
			&:hover {
				color: var(--color-lightblue);
				border-color: var(--color-lightblue);
			}
			&.left {
				margin-right: auto;
			}
		}
	}
	.brand {
		max-width: 200px;
		margin-right: auto;
		.brand-link {
			display: flex;
			align-items: center;
		}
		.brand-logo {
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			img.logo {
				width: 80%;
			}
		}
		.brand-name {
			background: linear-gradient(to right, #30cfd0 0%, #fece2f 45%);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 22px;
			font-family: var(--font-family-header);
			font-weight: var(--font-weight-regular);
			letter-spacing: -3px;
			padding-right: 10px;
			margin: 0 5px;
		}
	}
}
