.user-login {
	display: flex;
	align-items: center;
	.ui.button {
		border-radius: 0;
		font-size: 14px !important;
		color: var(--color-primary) !important;
		font-weight: var(--font-weight-regular);
	}
}
