.preview-card {
	.ui.card {
		height: 100%;
		border-radius: 0;
		background: transparent;
		box-shadow: none;
		.image {
			border-radius: 0 !important;
		}
		.header {
			color: var(--color-white) !important;
			font-size: var(--font-size-16) !important;
		}
		.description {
			color: var(--color-secondary) !important;
		}
	}
}
